*{margin: 0px;padding: 0px;}
.navbar {
    background-color: #ee5624;
    font-size: 16px;
    font-family: arial;
}
.navbar-nav a:hover {
    background-color:cornsilk;
    color: blue;
}
footer {
    background-color: #ee5624;
    font-size: 16px;
    font-family: arial;
}
